# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Banco de dados local
*.db
*.sqlite3
instance/

# Variáveis de ambiente locais
.env

# IDE / SO
.vscode/
.idea/
.DS_Store
Thumbs.db

.vercel
